* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

.navbar {
  padding: 2.5em;
  justify-content: space-evenly;
  background-color: #585e68;
}

.navbar a {
  float: right;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 25px 25px;
  margin-top: -40px;
  text-decoration: none;
  color: aliceblue;
}

.link {
  background-color: #585e68;
  float: right;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: aliceblue;
  border: 0;
}

.navbar a:hover {
  box-shadow: 0 0 10px aliceblue;
}

/* Home Styling */
#home h1 {
  margin: 250px 0;
  text-align: center;
}

/* Posts Styling */

.post-page {
  padding: 50px;
}

.post-actions {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.search-post {
  display: block;
  margin: 0 10px;
  font-size: 1.2rem;
}

.search-post input {
  font-size: 1rem;
}

.posts {
  width: 75%;
  margin: 0 auto;
  justify-content: center;
}
.post-item {
  margin: 10px auto;
  padding: 20px;
  background-color: rgb(213, 229, 243);
  border-radius: 10px;
}

/* Login/Register Styling */
#form {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 20px auto;
  padding: 25px 10px;
}

#account-form h1 {
  text-align: center;
}

#account-form label {
  display: block;
  margin: 10px auto;
  font-size: 1rem;
}

#account-form input {
  display: block;
  margin: 0 auto;
  font-size: 1rem;
}

#account-form button {
  display: block;
  font-size: 1rem;
  padding: 3px 8px;
  margin: 25px auto 0;
}

/* Profile Styling */

#profile-container {
  padding: 50px;
}

.profile-header {
  margin: 25px 0 100px;
  text-align: center;
}

.your-posts,
.your-messages {
  width: 48%;
  padding: 10px;
}

.your-posts h2,
.your-messages h2 {
  text-align: center;
}

.message-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 5rem;
  margin: 0 auto;
  padding: 50px 0;
  justify-content: center;
  box-shadow: 3px 3px 12px rgb(156, 156, 156);
  border-radius: 10px;
}

.sent-messages,
.recieved-messages {
  width: 40%;
}

.recieved-messages h2,
.sent-messages h2 {
  margin: 0 0 50px;
  text-align: center;
}

.sent-message,
.recieved-messages-for-post {
  margin: 10px auto;
  height: fit-content;
  width: 80%;
  padding: 25px;
  box-shadow: 2px 2px 8px rgb(156, 156, 156);
  border-radius: 5px;
}

.content {
  margin: 10px;
}

/* View post styling */

.view-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.view-post {
  margin: 50px auto;
  justify-content: center;
  background-color: rgb(213, 229, 243);
  width: 65%;
  padding: 30px;
  border-radius: 15px;
}

.view-post h2 {
  margin: 20px 0;
}

.view-post p {
  margin: 10px;
}

.recieved-messages-in-details {
  margin: 30px auto;
  width: 60%;
}

.recieved-messages-in-details h2 {
  margin: 0 0 40px 0;
  text-align: center;
}

/* Forms Styling */

#post-form {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 20px auto;
  padding: 25px 50px;
}

#post-form h2 {
  margin: 20px 0;
  text-align: center;
}

#post-form label {
  font-size: 1.2rem;
}

#post-form input {
  margin: 10px 0;
  font-size: 1rem;
}

#submit-btn {
  margin: 20px auto 0;
  width: 30%;
  padding: 5px 12px;
  background-color: rgb(41, 177, 0);
  border: 1px solid rgb(41, 177, 0);
  font-size: 1rem;
  font-weight: 600;
  color: aliceblue;
  border-radius: 5px;
}

#delete-btn {
  margin: 20px auto;
  width: 10%;
  padding: 5px 12px;
  background-color: rgb(177, 41, 0);
  border: 1px solid rgb(177, 41, 0);
  font-size: 1rem;
  font-weight: 600;
  color: aliceblue;
  border-radius: 5px;
}
